{% extends  "layout.html" %}

{% block title %} Home {% endblock %}

{% block heading %}  {% endblock %}

{% block content %}


	
	<h3>Change password:</h3>
	<a href="../online/password">Change password</a>
	</p>
	<br>
	
	<br>







	<div>
        <style type="text/css">
            .detailsContainer{
                background-color: white;
                box-shadow: 10px 10px 5px grey;
                width: 1000px;
                margin: 0 auto;
                margin-bottom: 50px;
                border-radius: 10px;
                padding: 10px;
            }
        </style>
        <style type="text/css">
            .screenshotContainer{
                width: 1000px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 20px;
                background-color: white;
                box-shadow: 10px 10px 5px grey;
                border-radius: 10px
            }
        </style>


					<br>
				</p>
			</div>
		
			
			
		</body>
</div>









	
{% endblock %}
